<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a href="{{ url_for('get_all_project') }}">Project</a><br>
        <form action="/get_task" method="post">
            <select name="task_id">
                {% for i in data %}
                    <option value={{i["gid"]}}>{{i["name"]}}</option>
                {% endfor %}
            </select>
            <button class="button execute" name="submit" value="submit">Submit</button>
        </form>
</body>
</html>